@font-face {
  font-family: "URWGothic";
  src: url("./URWGothic-Demi.otf") format("opentype");
}

@font-face {
  font-family: "URWGothicThin";
  src: url("./URWGothic-Book.otf") format("opentype");
}

@font-face {
  font-family: "Ubuntu";
  src: url("./Ubuntu.ttf") format("truetype");
}

@font-face {
  font-family: "Liberation";
  src: url("./LiberationSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LSBold";
  src: url("./LiberationSans-Bold.ttf") format("truetype");
}

/*      **************************************      */ 
/*      ********* Page-wide Stylings *********      */ 
/*      **************************************      */ 

* {
  box-sizing: border-box;
}
html{
  font-size: 0.9em;
}
body {
  margin: auto;
  max-width: 1500px;
	font-family: sans-serif;
  background: linear-gradient(135deg, #7d7e7d 0%,#0e0e0e 100%);
  background: url("./qwer.jpg");
  background-size: cover;

}






h1{
	font-family: "Tahoma", sans-serif;
  font-weight: normal;
	color: #222;
  font-size: 1.75rem;
}


h2, h3, h4, h5, h6{
  font-weight: normal;

	font-family: "Tahoma", sans-serif;
	color: #fff;
	text-align: left;
  margin: 0px;
}

p{
	font-family: "Tahoma", sans-serif;
  color: #fff;
	text-align: left;
    font-size: 1.12em;
  line-height: 1.5;
  margin:0;

  margin-bottom:1rem;
}

h2 {
  font-family:  "Tahoma", sans-serif;
  font-size: 1.25rem;
  color: #fff;
  
}

h3 {
  font-family:  "Tahoma", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom:0rem;
}



/*      **************************************      */ 
/*      *************** Header ***************      */ 
/*      **************************************      */ 

header {
  margin: 4.5rem;
  margin-top: 1.5rem;
  margin-bottom:0rem;  
  padding:0.25rem;
  border-radius: 1.5rem 1.5rem 0 0 ;
  border: 1px outset #ddd;
  border-bottom: none;

  color: white;
  background-color: #23001e33;

  font-size: 1.1rem;
  /* //background: linear-gradient(to bottom, #664b67 0%,#583658 40%,#583658 60%,#6b4568 100%); */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8a008a+0,78007c+2,58005e+18,4c0050+37,4e0058+63,470050+75,380037+100 */
/* background: linear-gradient(to bottom, #4e004e 0%,#63006c 50%,#5b0062 51%,#870096 100%); */
/* background: linear-gradient(to bottom, #3a003a 0%,#540054 29%,#540054 50%,#440044 51%,#4a004a 99%,#2a002a 99%,#5e005e 100%);   */
display: inline-block;
/* background: linear-gradient(to bottom, #5e0059 0%,#530054 31%,#4e004e 54%,#430044 56%,#65115e 99%,#4e004e 100%,#4c004c 100%); */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e0f3fa+0,d9edf5+10,cde2ed+25,cce3f0+37,cee5f2+50,bcdbec+51,d6f0f6+83,e2fafa+100 */
/* background: linear-gradient(to bottom,  #e0f3fa 0%,#d9edf5 10%,#cde2ed 25%,#cce3f0 37%,#cee5f2 50%,#bcdbec 51%,#d6f0f6 83%,#e2fafa 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/* background: linear-gradient(to bottom, #2d2d2d 0%,#393939 29%,#393939 50%,#313131 51%,#252525 99%,#3e3e3e 100%); */

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0092d6+0,008bd0+10,0077c6+25,0075c8+37,0076ca+50,0072be+51,009fd0+83,00cbd6+100 */
/* background: linear-gradient(to bottom,  #0092d6 0%,#008bd0 10%,#0077c6 25%,#0075c8 37%,#0076ca 50%,#0072be 51%,#009fd0 83%,#00cbd6 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

background: linear-gradient(to bottom,  #0092d6 0%,#008bd0 10%,#0077c6 25%,#0075c8 37%,#0076ca 50%,#0072be 51%,#009fd0 83%,#00cbd6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}


.title {

  background-position: 50% 80%;

  border-radius: 1rem 1rem 0 0 ;


  display: inline-block;
  margin: auto;  

}

.title h1{
  font-size: 1.75rem;
  display: inline;
  vertical-align: middle;
  color: #fff;
  font-family: "Tahoma", sans-serif;
  margin-block:0;
  margin: 0.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  text-align: left;
 position:relative;
}

.title h4{
  text-align: left;
  font-size: 0em;
  color: #ddd;
  margin-top: 0px;
  margin-block:0;
  padding-left: 1em;
  visibility: hidden;
  height:0;
  position: relative;
  font-family: "Tahoma", sans-serif;
  display: inline;
}
.navlink {
  display:inline-block;
  width: 100%;
  font-family: "Tahoma", sans-serif;
}

nav {
  display: inline-block;
  margin:0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;

  text-align: center;
  background-color: #0003;

  border: 1px inset #bbb;
  border-radius: 1rem;
}



nav ul{
  display: inline-block;
  list-style-type: none;
  margin: auto;

padding-right: 0.0rem;
  padding-left: 0.0rem;
  border-radius: 1.25rem;
  position: relative;
  font-size: 0.9rem;
}

nav ul li{
  display: inline-block;

  margin: 0.25rem;
  margin-left: 0.25em;
  margin-right: 0.25em;
  
}


nav ul .navlink:link, nav ul .navlink:active, nav ul .navlink:visited, nav ul .navlink:hover{
    text-decoration: none;
    color: #eee;
    padding-top:0.75em;
    padding-bottom:0.75em;
    padding-left: 1.0em;
    padding-right: 1.0em;

    border: 1px solid #0000;
    border-radius: 0.7rem;
    transition:0.2s  cubic-bezier(0.19, 1, 0.22, 1);
}

nav ul .navlink:hover{
    color: #fff;
    border: 1px outset #bbb;
  /* //   background: linear-gradient(to bottom, #5e0059 0%,#530054 31%,#4e004e 51%,#430044 59%,#430044 59%,#65115e 99%,#4c004c 100%); */
  /* // background: linear-gradient(to bottom, #1d1d1d 0%,#2a2a2a 29%,#2a2a2a 50%,#222222 51%,#151515 99%,#2f2f2f 100%); */
  background: linear-gradient(to bottom,  #0092d6 0%,#008bd0 10%,#0077c6 25%,#0075c8 37%,#0076ca 50%,#0072be 51%,#009fd0 83%,#00cbd6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* // background: linear-gradient(to bottom, #2d2d2d 0%,#393939 29%,#393939 50%,#313131 51%,#252525 99%,#3e3e3e 100%); */
    
}
























/*      **************************************      */ 
/*      ************ Main Content ************      */ 
/*      **************************************      */ 

section {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  margin: 4.5rem;
  margin-top: 0.0em;
  margin-bottom: 0em;
  padding-top: 2rem;

  background-color: #4449;
  border: 1px outset #aaa;
  border-bottom:none;
  border-top: 1px solid #999;
  border-radius: 0 1.5rem 0 0 ;
  background-size: 100% 100%;
  background-position: 50% 50%;
}



article {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;         
  -webkit-flex: 3;          
  -ms-flex: 3;              
  flex: 3;       
  display: block;
  /* background-color: #D98324; */
  background-color: #67676767;
  border-radius: 1rem;

  margin: 1rem;
  margin-top:0;
  margin-bottom:0;
  border: 1px outset #ddd;
  border-radius: 1rem;
  overflow: auto;
  position: relative;
}

.content{


  display: block;
  overflow: auto;


  border-top: 1px solid #b8b8b8;
  border-left: 1px solid #b8b8b8;
  border-bottom: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;

  border-radius:  0.85rem;
  padding: 1.25rem; 
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin:0.50rem;
  background-color: #2224;
  position: absolute;
  top: 3.3rem;
  bottom: 0;
}

.content dl{
  margin-top: 0;
}
.content dl dt{
  font-size: 1.15rem;
  font-weight: normal;
  display: inline-block;
  color: #BFE7F3;
  text-align: left;
  border-radius: 0.6rem;
  border: 1px outset #0000;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right:0.5rem;
  transition: all 0.6s  cubic-bezier(0.19, 1, 0.22, 1);
}

.content dl dd{
  margin: 0.5rem;

  margin-bottom: 0.25rem;
  margin-top: 0.0rem;
  margin-left: 2rem;
  margin-right: 1.25rem;

  padding-left: 0.25rem;
  padding-bottom: 0.0rem;
  position: relative;
  color: #fff;
  display: block;
  transition: all 0.6s  cubic-bezier(0.19, 1, 0.22, 1);
}


.content dl .entry{
  color: #fff;
  position: relative;

  font-weight: normal;
  line-height: 1.5;
  display: block;
  padding: 0.0;
  padding-bottom: 0.25rem;
  margin: 1rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.75rem;
  text-decoration: none;
  border-radius:  0.6rem ;
  border: 1px outset #bbb0;


  transition: all 0.6s  cubic-bezier(0.19, 1, 0.22, 1);



}
.content dl .entry:hover{
  color: #fff;
  background: #ddd1;
  border: 1px outset #bbb;
}

.content dl .entry a{
color: #BFE7F3;
text-decoration: none;
}

.content dl .entry dt a:hover{
text-decoration: underline;
}

.content dl .entry dd a{

  margin-right: 0.75rem;

}
.content dl .entry dd a:hover{
text-decoration: underline;
}


.content dl .entry a:hover dt{
text-decoration: underline;
color: #BFE7F3;
}

.content dl ul{
  margin: 0.5rem;

  margin-bottom: 0.25rem;
  margin-top: 0.0rem;
  margin-left: 3rem;
  margin-right: 1.25rem;

  padding-left: 0.25rem;
  padding-bottom: 0.0rem;
  position: relative;
  color: #fff;
  display: block;

}












.imgSideRight{
    display: block;
    float: right;
  margin: 1.25rem;
}



.imgSideLeft{
    display: block;
    float: left;
    margin: 1.25rem;
  }
.imgFigure{
    display: block;
    margin: auto;
    margin: 1.25rem;
  }

img{
  border-radius: 0.6rem;

}

.imgFigure .caption, .imgSideRight .caption, .imgSideLeft .caption{
    margin: 0;
    margin-left: 0;
    font-size: 1em;

}


.side{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;         
  -webkit-flex: 1;          
  -ms-flex: 1;              
  flex: 1;
  
  margin: 1rem;

  margin-top: 0em;
  margin-bottom: 0em;
  background-color: #67676767;
  border: 1px outset #ddd;
  border-radius: 1rem;


}



.side.left{
  margin-left: 2rem;
}
.side.right{
  border: none;
  background: none;
  margin-right: 2rem;
  display: block;
}

.side dl{
  list-style-type: none;
  border-top: 1px solid #b8b8b8;
  border-left: 1px solid #b8b8b8;
  border-bottom: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;

  border-radius:  0.85rem;
  margin:0.50rem;
  margin-top: 0.7rem;
  background-color: #2224;


}

 h2{
  font-size: 1.4rem;
  color: #fff;
  background: linear-gradient(to bottom, #5a1c5c 0%,#450744 50%,#65115e 100%);
  background: linear-gradient(to bottom, #1d1d1d 0%,#2a2a2a 29%,#2a2a2a 50%,#222222 51%,#151515 99%,#2f2f2f 100%);
  text-align: left;
  padding:0.5rem;
  background: linear-gradient(to bottom, #2d2d2d 0%,#393939 29%,#393939 50%,#313131 51%,#252525 99%,#3e3e3e 100%);
  border-radius: 0.93rem 0.93rem 0 0;
  border-bottom: 1px solid #aaa;
  margin-bottom: 0;
  padding-left: 1.25rem;
  height: 3.05rem;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#430048+0,420046+10,420041+25,420040+37,440042+50,40003f+51,3b0046+83,300048+100 */
/* background: linear-gradient(to bottom, #430048 0%,#420046 10%,#420041 25%,#420040 37%,#440042 50%,#40003f 51%,#3b0046 83%,#300048 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
background: linear-gradient(to bottom, #54005a 0%,#540058 10%,#540053 25%,#540051 37%,#560053 50%,#50004f 51%,#4b0058 83%,#3c005a 100%);
background: linear-gradient(to bottom, #5d0064 0%,#5d0062 10%,#5c005a 25%,#5e005b 37%,#5e005b 50%,#5a0059 51%,#520060 83%,#430064 100%);
background: linear-gradient(to bottom, #c200d0 0%,#c200cc 10%,#c200bf 25%,#c400bd 37%,#c600bf 50%,#ba00b7 51%,#ac00ca 83%,#8c00d2 100%); */
background: linear-gradient(to bottom,  #0092d6 0%,#008bd0 10%,#0077c6 25%,#0075c8 37%,#0076ca 50%,#0072be 51%,#009fd0 83%,#00cbd6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/* background: linear-gradient(to bottom, #00205a 0%,#001d58 10%,#001654 25%,#001554 37%,#001556 50%,#001550 51%,#002658 83%,#00375a 100%); */

}


.side dl a{
  display: block;
  margin:0.4rem;
}

.side dl img{
  padding:0px;
  margin-right: 1em;
  display: inline-block;
}

.side dl dd{
  margin: 0.5rem;
  font-size: 0.825rem;
  margin-bottom: 0.25rem;
  margin-top: 0.0rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;

  color: #ddd;
  transition: all 0.4s  cubic-bezier(0.19, 1, 0.22, 1);
}



.side dl dt{
  font-size: 1.1rem;
  font-weight: normal;
  display: block;
  color: #fff;
  text-align: left;
  border-radius: 0.6rem;
  border: 1px outset #0000;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.side dl a,.side dl a:visited,.side dl a:active{
  color: #fff;
  font-size: 0.9em;
  font-family: "Tahoma", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  display: block;
  padding: 0.0;
  padding-top: 0.75rem;

  padding-bottom: 0.75rem;
  margin: 0rem;
  text-decoration: none;
  border-radius: 0.7rem;
  border: 1px outset #ddd0;

  transition: all 0.4s  cubic-bezier(0.19, 1, 0.22, 1);


}
.side dl a:hover{
  color: #fff;

}

.side dl a:hover dt{

text-decoration: underline;

color: #fff;
}

.side dl a:hover dd{
  color: #fff;
  text-decoration: underline;
}

/* Style the footer */

footer {
  background-color: #4449;
  margin: 4.5rem;
  margin-top: 0.0em;
  border: 1px outset #aaa;
  border-top: none;

  border-radius: 0 0 1.5rem 1.5rem;

  text-align: left;
  color: white;
}

footer ul{
  list-style-type: none;
  padding:1em;
  padding-left: 3.75rem;
  text-align: left;
  margin: 0em;

}
footer ul li{
  display: inline-block;
  color: #ddd;
  font-size: 0.75em;
  padding:1em;
  vertical-align: middle;

}

footer ul li a,footer ul li a:visited,footer ul li a:active{
  color: #dddddd;
font-weight: normal;
}
footer ul li a:hover{
  color: #ffffff;
  font-weight: normal;
}


footer ul li button{
  color: #ddd;
  font-size: 1.1em;
  text-decoration: underline;
  border: none;
  border-radius: 0;
  background: none;
  transition:0.08s linear;
}

footer ul li button:hover{
  color: #fff;
  border: none;
  border-radius: 0;
  background: none;
}


/* Style the page for mobile */
@media (max-width: 961px) {
  body{
    max-width: 100%;
    background-position: 50% auto;
  }
  section {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    border-radius: 0;
    border: none;
    background: none;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  header{
    display: block;
    text-align: center;
    border-radius: 1.5rem;
    border: 1px outset #ddd;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .title{
    margin-top: 1rem;

  }




  h1{
    display: block;
  }

  nav ul{
    margin: auto;
    text-align: center;
  }

  .side {
    background-color: #4448;
}
 
  .side.left{
    margin:0;
    padding: 0;
    margin-top: 2rem;
  }
  article{
    margin: 0em;
    margin-left:0em;
    margin-right:0em;
    background-color: #4448;


  }
  .content{
    height: auto;
    position: initial;
  top: none;
  bottom: none;
  }

  footer{
    text-align: center;
    border: 1px outset #ddd;
  border-radius: 1.5rem;
    margin: 2rem;
  }

  footer ul{
    text-align: center;
    padding: 1rem;
  }

}


@media (max-width: 600px) {

  nav, nav ul, nav ul li {
    display: block;
  }

  .imgSideLeft, .imgSideRight{
    float: none;

    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

h2 { 
    text-align: center;
    margin-left: 0;
    margin-right: 0;


}

.imgSideLeft, .imgSideRight{
    margin-left: auto;
    margin-right: auto;

}

.imgSideLeft img, .imgSideRight img {
  float: none;
  display:block;
  margin: auto;
}

}
