@font-face {
  font-family: "URWGothic";
  src: url("./URWGothic-Demi.otf") format("opentype");
}

@font-face {
  font-family: "URWGothicThin";
  src: url("./URWGothic-Book.otf") format("opentype");
}

@font-face {
  font-family: "Ubuntu";
  src: url("./Ubuntu.ttf") format("truetype");
}

@font-face {
  font-family: "Liberation";
  src: url("./LiberationSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LSBold";
  src: url("./LiberationSans-Bold.ttf") format("truetype");
}

/*      **************************************      */ 
/*      ********* Page-wide Stylings *********      */ 
/*      **************************************      */ 

* {
  box-sizing: border-box;
}
html{
  font-size: 0.9em;
}
body {
  margin: auto;
  max-width: 1500px;
	font-family: sans-serif;
  //font-size: large;
  background: linear-gradient(135deg, #7d7e7d 0%,#0e0e0e 100%);
  background: url("./qwer.jpg");
  background-size: cover;
	//background: linear-gradient(to bottom, #81ddff 0%,#ffb49b 100%);;
  //background: #222c;
  //background-position: 0 0;

}






h1{
	font-family: "Tahoma", sans-serif;
  font-weight: normal;
	color: #222;
  font-size: 1.75rem;
  //margin: 5px;
  //  display: inline-block;
	//text-align: left;
}


h2, h3, h4, h5, h6{
  font-weight: normal;

	font-family: "Tahoma", sans-serif;
	color: #fff;
	text-align: left;
  margin: 0px;
}

p{
	font-family: "Tahoma", sans-serif;
  color: #fff;
	text-align: left;
    font-size: 1.12em;
  line-height: 1.5;
  margin:0;

  margin-bottom:1rem;
}

h2 {
  font-family:  "Tahoma", sans-serif;
  font-size: 1.25rem;
  color: #fff;
  
}

h3 {
  font-family:  "Tahoma", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom:0rem;
}



/*      **************************************      */ 
/*      *************** Header ***************      */ 
/*      **************************************      */ 

header {
  //background-color: #444;
  //background-color: #290624;
  //border: 2px solid #ddd9;
  //border: 8px solid #311d31; 
  //border-bottom: 2px solid #ddd9; 
  //padding: 8px;
  margin: 4.5rem;
  //padding-left: 0;
  margin-top: 1.5rem;
  margin-bottom:0rem;  
  padding:0.25rem;
  //background: linear-gradient(to bottom, #b8fafc 0%,#a9edf3 10%,#90d9e4 25%,#90ddea 37%,#90e2f0 50%,#6bd5e5 51%,#a3f5f2 83%,#bdfdef 100%);
  border-radius: 1.5rem 1.5rem 0 0 ;
  border: 1px outset #ddd;
  border-bottom: none;

  //background: linear-gradient(to bottom, #5a1c5c 0%,#450744 50%,#65115e 100%);
  color: white;
  background-color: #23001e33;

  font-size: 1.1rem;
  //background: linear-gradient(to bottom, #664b67 0%,#583658 40%,#583658 60%,#6b4568 100%);
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8a008a+0,78007c+2,58005e+18,4c0050+37,4e0058+63,470050+75,380037+100 */
background: linear-gradient(to bottom, #4e004e 0%,#63006c 50%,#5b0062 51%,#870096 100%);
background: linear-gradient(to bottom, #3a003a 0%,#540054 29%,#540054 50%,#440044 51%,#4a004a 99%,#2a002a 99%,#5e005e 100%);  display: inline-block;
background: linear-gradient(to bottom, #5e0059 0%,#530054 31%,#4e004e 54%,#430044 56%,#65115e 99%,#4e004e 100%,#4c004c 100%);
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e0f3fa+0,d9edf5+10,cde2ed+25,cce3f0+37,cee5f2+50,bcdbec+51,d6f0f6+83,e2fafa+100 */
background: linear-gradient(to bottom,  #e0f3fa 0%,#d9edf5 10%,#cde2ed 25%,#cce3f0 37%,#cee5f2 50%,#bcdbec 51%,#d6f0f6 83%,#e2fafa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
background: linear-gradient(to bottom, #2d2d2d 0%,#393939 29%,#393939 50%,#313131 51%,#252525 99%,#3e3e3e 100%);

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0092d6+0,008bd0+10,0077c6+25,0075c8+37,0076ca+50,0072be+51,009fd0+83,00cbd6+100 */
//background: linear-gradient(to bottom,  #0092d6 0%,#008bd0 10%,#0077c6 25%,#0075c8 37%,#0076ca 50%,#0072be 51%,#009fd0 83%,#00cbd6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

background: linear-gradient(to bottom,  #0092d6 0%,#008bd0 10%,#0077c6 25%,#0075c8 37%,#0076ca 50%,#0072be 51%,#009fd0 83%,#00cbd6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}


.title {
  //background: #311d31;
  //background: linear-gradient(to bottom, #9a519d 0%,#742673 50%,#aa42a1 100%);
  // background: linear-gradient(to bottom, #b8fafc 0%,#a9edf3 10%,#90d9e4 25%,#90ddea 37%,#90e2f0 50%,#6bd5e5 51%,#a3f5f2 83%,#bdfdef 100%);
  // background: linear-gradient(to bottom, #ddd5e5 0%,#c5b6d6 9%,#9478b8 27%,#7f57af 28%,#8663bf 46%,#8663bf 46%,#7957af 100%,#613c84 100%);
  // background: linear-gradient(to bottom, #47013d 0%,#63015c 50%,#5b0153 51%,#8a0284 100%);
  background-position: 50% 80%;
  //background-color: #311d31bb;

  //background: linear-gradient(to bottom, #5a1c5c 0%,#450744 50%,#65115e 100%);
  border-radius: 1rem 1rem 0 0 ;
  //border: 2px outset #ddd;
  //border-bottom:1px solid #999;
  //border: 2px outset #ddd ;
  //margin-top:1rem;

  //margin-bottom:1rem;
  //padding-bottom: 0.75em;
  //margin-left: 2em;
  //text-align: center;
  //margin-right: 2em;
  display: inline-block;
  margin: auto;  //margin: auto;
  //margin-bottom: 1rem;
  //margin-top: 0;
  //height: 100%;

}

.title h1{
  //text-align: right;
  font-size: 1.5em;
  display: inline;
  //margin: auto;
  vertical-align: middle;
  color: #fff;
  font-family: "Tahoma", sans-serif;
  //font-weight: bold;
  //border-left: 4px solid #ddd6;
  //border-right: 4px solid #29002999;
  margin-block:0;
  margin: 0.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  //padding:0.5rem;
  //padding-left: 1em;
  //padding-right: 1em;
  text-align: left;
 //vertical-align: middle;
 position:relative;
}

//.title h1:after{
//  content: "";
//  //display: block;
//  width: 4em%;
//  height: 1px;
//  background: #ddd;
//  left: 0;
//  top: 0;
//  margin-right: 4rem;
//  position: absolute;
//}

.title h4{
  text-align: left;
  font-size: 0em;
  color: #ddd;
  margin-top: 0px;
  margin-block:0;
  padding-left: 1em;
  visibility: hidden;
  height:0;
  position: relative;
  font-family: "Tahoma", sans-serif;
  display: inline;
}
.navlink {
  display:inline-block;
  width: 100%;
  font-family: "Tahoma", sans-serif;
  //height:100%;
}

nav {
  //border-left: 2px solid #ddd;
  //border-right: 4px solid #29002999;
  //margin:2.0em;
  display: inline-block;
  margin:0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;

  text-align: center;
  background-color: #0003;
  //background: linear-gradient(to bottom, #1d1d1d 0%,#2a2a2a 29%,#2a2a2a 50%,#222222 51%,#151515 99%,#2f2f2f 100%);
  //background: linear-gradient(to bottom, #5e0059 0%,#530054 31%,#4e004e 54%,#430044 56%,#65115e 99%,#4e004e 100%,#4c004c 100%);

  border: 1px inset #bbb;
  //border-top: none;
  border-radius: 1rem;
  //margin-top: 1rem; 
  //margin-left: 2em;  
  //margin-bottom: 1.5em;
  // padding-top: 0.5rem; 
  // padding-bottom: 0.5rem;
}



nav ul{
  display: inline-block;
  list-style-type: none;
  margin: auto;
  //margin:0.25rem;
  //margin-right: 1.5em;

padding-right: 0.0rem;
  padding-left: 0.0rem;
  border-radius: 1.25rem;
  //border: 2px outset #ddd;  
  //padding-top: 0.25em;
  //padding-bottom: 0.25em;
  position: relative;
  //  position: sticky;
  //  top: 0;
  //background-color: #0003;
  font-size: 0.9rem;
}

// nav ul:after{
//   content: "";
//   //display: block;
//   width: 6rem;
//   height: 4px;
//   background: #ddd;
//   right: 0;
//   top: 50%;
//   margin-right: 4rem;
//   position: absolute; 
// }

nav ul li{
  display: inline-block;
  //font-size: 1.em;
  //font-size: 0.9em;
  //line-height: 2.2;
  margin: 0.25rem;
  margin-left: 0.25em;
  margin-right: 0.25em;
  
}


nav ul .navlink:link, nav ul .navlink:active, nav ul .navlink:visited, nav ul .navlink:hover{
    text-decoration: none;
    color: #eee;
    //font-size: 0.8rem;
    padding-top:0.75em;
    padding-bottom:0.75em;
    padding-left: 1.0em;
    padding-right: 1.0em;
    //border-left: 4px solid #0000;

    border: 1px solid #0000;
    border-radius: 0.7rem;
    transition:0.2s  cubic-bezier(0.19, 1, 0.22, 1);
}

nav ul .navlink:hover{
    color: #fff;
    border: 1px outset #bbb;
    //text-decoration: underline;
  //   background-color: #ddd2;
  //   background: linear-gradient(to bottom, #5e0059 0%,#530054 31%,#4e004e 51%,#430044 59%,#430044 59%,#65115e 99%,#4c004c 100%);
  // background: linear-gradient(to bottom, #1d1d1d 0%,#2a2a2a 29%,#2a2a2a 50%,#222222 51%,#151515 99%,#2f2f2f 100%);
  background: linear-gradient(to bottom,  #0092d6 0%,#008bd0 10%,#0077c6 25%,#0075c8 37%,#0076ca 50%,#0072be 51%,#009fd0 83%,#00cbd6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // background: linear-gradient(to bottom, #2d2d2d 0%,#393939 29%,#393939 50%,#313131 51%,#252525 99%,#3e3e3e 100%);
    //border-color: #fff;
}
























/*      **************************************      */ 
/*      ************ Main Content ************      */ 
/*      **************************************      */ 

section {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  //margin: 1.5em;
  //margin-top: 1.5em;
  margin: 4.5rem;
  margin-top: 0.0em;
  margin-bottom: 0em;
  padding-top: 2rem;

  background-color: #4446;
  border: 1px outset #ddd;
  border-bottom:none;
  border-top: 1px solid #999;
  border-radius: 0 1.5rem 0 0 ;
  background-size: 100% 100%;
  background-position: 50% 50%;
}



article {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;         
  -webkit-flex: 3;          
  -ms-flex: 3;              
  flex: 3;       
  display: block;
  //background-color: #D98324;
  background-color: #9996;
  //background-color: #290624;
  //background: linear-gradient(135deg ,#00bdd466 0%,#00bdd466 50%,#dddddd66 51%,#dddddd66 100%);
  
  //border-radius: 8px;
  border-radius: 1rem;

  margin: 1rem;
  margin-top:0;
  margin-bottom:0;
  border: 1px outset #ddd;
  border-radius: 1rem;
  overflow: auto;
  position: relative;
}

.content{


  display: block;
  overflow: auto;


  border-top: 1px solid #b8b8b8;
  border-left: 1px solid #b8b8b8;
  border-bottom: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;

  border-radius:  0.85rem;
  padding: 1.25rem; 
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin:0.50rem;
  //margin-left: 1.0rem;
  //margin-right: 1rem;
  //border-left: 4px solid #ddd6;
  //border-bottom: 4px solid #ddd6;
  background-color: #4446;
  position: absolute;
  top: 3rem;
  bottom: 0;
}

.content dl{
    //border-left: 1px solid #fff;
  margin-top: 0;
}
.content dl dt{
  font-size: 1.15rem;
  font-weight: normal;
  display: inline-block;
  color: #BFE7F3;
  //border-bottom: 1px solid #ddd9;
  //margin-bottom: 0.25em;
  text-align: left;
  border-radius: 0.6rem;
  border: 1px outset #0000;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right:0.5rem;
  //transition: all 0.4s  cubic-bezier(0.19, 1, 0.22, 1);
  //background: linear-gradient(to bottom, #5a1c5c 0%,#450744 50%,#65115e 100%);
  //background: linear-gradient(to bottom, #1d1d1d 0%,#2a2a2a 29%,#2a2a2a 50%,#222222 51%,#151515 99%,#2f2f2f 100%);
  transition: all 0.6s  cubic-bezier(0.19, 1, 0.22, 1);
}

.content dl dd{
  margin: 0.5rem;

  margin-bottom: 0.25rem;
  margin-top: 0.0rem;
  margin-left: 2rem;
  margin-right: 1.25rem;

  padding-left: 0.25rem;
  padding-bottom: 0.0rem;
  position: relative;
  color: #fff;
  display: block;
  transition: all 0.6s  cubic-bezier(0.19, 1, 0.22, 1);
}

//.content dl a::before{
//  width: 2px;
//  height: 100%;
//  content: "";
//    background: linear-gradient(to top,  #0092d6 0%,#008bd0 10%,#0077c6 25%,#0075c8 37%,#0076ca 50%,#0072be 51%,#009fd0 83%,#00cbd6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//  position: absolute;
//  top: 0;
//  left: 0rem;
//}

.content dl .entry{
  color: #fff;
  position: relative;

  font-weight: normal;
  line-height: 1.5;
  display: block;
  padding: 0.0;
  padding-bottom: 0.25rem;
  margin: 1rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.75rem;
  //padding-right: 1em;
  text-decoration: none;
  border-radius:  0.6rem ;
  border: 1px outset #bbb0;


  transition: all 0.6s  cubic-bezier(0.19, 1, 0.22, 1);



}
.content dl .entry:hover{
  color: #fff;
  background: #ddd1;
  border: 1px outset #bbb;
}

.content dl .entry a{
color: #BFE7F3;
text-decoration: none;
}

.content dl .entry dt a:hover{
text-decoration: underline;
}

.content dl .entry dd a{

  margin-right: 0.75rem;

}
.content dl .entry dd a:hover{
text-decoration: underline;
}


.content dl .entry a:hover dt{
text-decoration: underline;
color: #BFE7F3;
}

.content dl ul{
  margin: 0.5rem;

  margin-bottom: 0.25rem;
  margin-top: 0.0rem;
  margin-left: 3rem;
  margin-right: 1.25rem;

  padding-left: 0.25rem;
  padding-bottom: 0.0rem;
  position: relative;
  color: #fff;
  display: block;

}












.imgSideRight{
    display: block;
    float: right;
  margin: 1.25rem;
}



.imgSideLeft{
    display: block;
    float: left;
    margin: 1.25rem;
  }
.imgFigure{
    display: block;
    margin: auto;
    margin: 1.25rem;
  }

img{
  border-radius: 0.6rem;

}

.imgFigure .caption, .imgSideRight .caption, .imgSideLeft .caption{
    margin: 0;
    margin-left: 0;
    font-size: 1em;

}


.side{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;         
  -webkit-flex: 1;          
  -ms-flex: 1;              
  flex: 1;
  
  margin: 1rem;

  margin-top: 0em;
  margin-bottom: 0em;
  //margin-left: 1em;
  //padding: 0.5em;
  background-color: #9996;
  //background-color: #ddd2;

  //background: linear-gradient(#290624,#250025);
  border: 1px outset #ddd;
  border-radius: 1rem;

  //background: linear-gradient(115deg, #5e0059 0%,#530054 31%,#4e004e 54%,#430044 56%,#65115e 99%,#4e004e 100%,#4c004c 100%);
  //background: linear-gradient(115deg, #320033ee 0%, #290624ee 100%);
  //border: 3px solid #ddd;
  //border-radius: 8px;

}



.side.left{
  //background-color: #290624; 
  margin-left: 2rem;
}
.side.right{
  border: none;
  background: none;
  margin-right: 2rem;
}

.side dl{
  list-style-type: none;
  //background-color: #ddd3;
  //border: 2px inset #999;
  //border-top: none;
  border-top: 1px solid #b8b8b8;
  border-left: 1px solid #b8b8b8;
  border-bottom: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;

  border-radius:  0.85rem;
  //border-radius: 1rem;
  //padding: 0.45rem; 
  //padding-top: 5px;
  //padding-bottom: 5px;
  margin:0.50rem;
  //margin-left: 1.0rem;
  //margin-right: 1rem;
  //border-left: 4px solid #ddd6;
  //border-bottom: 4px solid #ddd6;
  background-color: #4446;
  //border-left: 4px solid #ddd6;
  //border-right: 4px solid #29002999;


}

 h2{
  color: #fff;
  background: linear-gradient(to bottom, #5a1c5c 0%,#450744 50%,#65115e 100%);
  background: linear-gradient(to bottom, #1d1d1d 0%,#2a2a2a 29%,#2a2a2a 50%,#222222 51%,#151515 99%,#2f2f2f 100%);
  //background: linear-gradient(to bottom, #22001d 0%,#300029 29%,#300029 50%,#280023 51%,#34002d 51%,#1a0016 99%,#34002d 100%);  text-align: left;
  padding:0.5rem;
  background: linear-gradient(to bottom, #2d2d2d 0%,#393939 29%,#393939 50%,#313131 51%,#252525 99%,#3e3e3e 100%);
  border-radius: 0.9rem 0.9rem 0 0;
  border-bottom: 1px solid #999;
  margin-bottom: 0;
  padding-left: 1.25rem;
  height: 3rem;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#430048+0,420046+10,420041+25,420040+37,440042+50,40003f+51,3b0046+83,300048+100 */
//background: linear-gradient(to bottom, #430048 0%,#420046 10%,#420041 25%,#420040 37%,#440042 50%,#40003f 51%,#3b0046 83%,#300048 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//background: linear-gradient(to bottom, #54005a 0%,#540058 10%,#540053 25%,#540051 37%,#560053 50%,#50004f 51%,#4b0058 83%,#3c005a 100%);
//background: linear-gradient(to bottom, #5d0064 0%,#5d0062 10%,#5c005a 25%,#5e005b 37%,#5e005b 50%,#5a0059 51%,#520060 83%,#430064 100%);
//background: linear-gradient(to bottom, #c200d0 0%,#c200cc 10%,#c200bf 25%,#c400bd 37%,#c600bf 50%,#ba00b7 51%,#ac00ca 83%,#8c00d2 100%);
background: linear-gradient(to bottom,  #0092d6 0%,#008bd0 10%,#0077c6 25%,#0075c8 37%,#0076ca 50%,#0072be 51%,#009fd0 83%,#00cbd6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//background: linear-gradient(to bottom, #00205a 0%,#001d58 10%,#001654 25%,#001554 37%,#001556 50%,#001550 51%,#002658 83%,#00375a 100%);

}


.side dl a{
  display: block;
  margin:0.4rem;
  
  //margin-right: 0em;
  //margin-bottom: 1em;

  //background-color: #311d31;
  //border-left: 4px solid #ddd4;

  //margin-left: 0.25em;
}

.side dl img{
  padding:0px;
  margin-right: 1em;
  display: inline-block;
}

.side dl dd{
  margin: 0.5rem;
  font-size: 0.825rem;
  margin-bottom: 0.25rem;
  margin-top: 0.0rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;

  color: #ddd;
  //max-height: 0;
  transition: all 0.4s  cubic-bezier(0.19, 1, 0.22, 1);
}



.side dl dt{
  font-size: 1.1rem;
  font-weight: normal;
  display: block;
  color: #fff;
  //border-bottom: 1px solid #ddd9;
  //margin-bottom: 0.25em;
  text-align: left;
  border-radius: 0.6rem;
  border: 1px outset #0000;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  //background: linear-gradient(to bottom, #5a1c5c 0%,#450744 50%,#65115e 100%);
  //background: linear-gradient(to bottom, #1d1d1d 0%,#2a2a2a 29%,#2a2a2a 50%,#222222 51%,#151515 99%,#2f2f2f 100%);
  //transition: all 0.4s  cubic-bezier(0.19, 1, 0.22, 1);
}
.side dl a,.side dl a:visited,.side dl a:active{
  color: #fff;
  font-size: 0.9em;
  font-family: "Tahoma", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  display: block;
  padding: 0.0;
  //padding-top: 0;
  padding-top: 0.75rem;

  padding-bottom: 0.75rem;
  margin: 0rem;
  //margin-bottom: 7rem;
  //padding-right: 1em;
  text-decoration: none;
  border-radius: 0.7rem;
  border: 1px outset #ddd0;

  transition: all 0.4s  cubic-bezier(0.19, 1, 0.22, 1);
  //min-height: 7em;

  //border: 2px inset #bbb;

  //background-color: #0004;

  //border: 2px solid #ddd9;
  ////border-radius: 8px;
  //border-left: 4px solid #0000;
  //border-right: 4px solid #0000;
 //background-color: #311d31;

}
.side dl a:hover{
  color: #fff;
  ///border: 1px outset #ddd;

  //background-color: #ddd1;
 ///background: radial-gradient(ellipse 100% 80% at 50% 25%, rgba(152,152,152,0.2) 0%,rgba(178,178,178,0.2) 12%,rgba(204,204,204,0.2) 25%,rgba(142,142,142,0.2) 39%,rgba(176,176,176,0.2) 50%,rgba(86,86,86,0.2) 76%,rgba(86,86,86,0.0) 91%,rgba(19,19,19,0.0) 100%);  //text-decoration: underline;
 ///background: linear-gradient(200deg, rgba(255,255,255,.1) 0%,rgba(255,255,255,0) 100%); 
 ///margin-bottom: 1rem;
  //background: linear-gradient(to bottom, #ddd2 0%, #0000 100%)

}

.side dl a:hover dt{
//background:linear-gradient(to bottom, #272727 0%,#363636 29%,#313131 50%,#282828 51%,#151515 99%,#2f2f2f 100%) ;
// background: linear-gradient(to bottom, #1d1d1d 0%,#2a2a2a 29%,#2a2a2a 50%,#222222 51%,#151515 99%,#2f2f2f 100%);
// background: linear-gradient(to bottom,  #0092d6 0%,#008bd0 10%,#0077c6 25%,#0075c8 37%,#0076ca 50%,#0072be 51%,#009fd0 83%,#00cbd6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// //background: linear-gradient(to bottom, #00205a 0%,#001d58 10%,#001654 25%,#001554 37%,#001556 50%,#001550 51%,#002658 83%,#00375a 100%);

//background: linear-gradient(to bottom, #2d2d2d 0%,#393939 29%,#393939 50%,#313131 51%,#252525 99%,#3e3e3e 100%);
//background: linear-gradient(to bottom, #fff0 0%,rgba(255,255,255,0.1) 25%,rgba(255,255,255,0.1) 75%,#fff0 100%);
text-decoration: underline;

color: #fff;
//border: 1px outset #bbb;

}

.side dl a:hover dd{
  //margin: 0.0 ;
  //margin-bottom: 0;
  //margin-right: 1.25rem;
  color: #fff;
  //max-height: 0;
  //overflow: hidden;
  text-decoration: underline;
}

/* Style the footer */

footer {
  background-color: #4446;
  //padding: 0.5em;
  margin: 4.5rem;
  margin-top: 0.0em;
  border: 1px outset #ddd;
  border-top: none;

  border-radius: 0 0 1.5rem 1.5rem;

  //margin-bottom: 1em;
  text-align: left;
  color: white;
}

footer ul{
  list-style-type: none;
  padding:1em;
  padding-left: 3.75rem;
  text-align: left;
  margin: 0em;

}
footer ul li{
  display: inline-block;
  color: #444;
  font-size: 0.75em;
  padding:1em;
  vertical-align: middle;

}

footer ul li a,footer ul li a:visited,footer ul li a:active{
  color: #dddddd;
font-weight: normal;
}
footer ul li a:hover{
  color: #ffffff;
  font-weight: normal;
}


footer ul li button{
  color: #ddd;
  font-size: 1.1em;
  text-decoration: underline;
  border: none;
  border-radius: 0;
  background: none;
  transition:0.08s linear;
}

footer ul li button:hover{
  color: #fff;
  //padding-left:1em;
  border: none;
  border-radius: 0;
  background: none;
}


/* Style the page for mobile */
@media (max-width: 961px) {
  body{
    max-width: 100%;
    background-position: 50% auto;
  }
  section {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    border-radius: 0;
    border: none;
    background: none;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  header{
    display: block;
    text-align: center;
    border-radius: 1.5rem;
    border: 1px outset #ddd;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .title{
    margin-top: 1rem;

  }




  h1{
    display: block;
  }

  nav ul{
    //padding-left:1.5em;
    //padding-right: 1.5em;
    margin: auto;
    text-align: center;
    //display: block;
  }

  .side {
    background-color: #4448;
}
 
  .side.left{
    margin:0;
    padding: 0;
    margin-top: 2rem;
  }
  article{
    margin: 0em;
    margin-left:0em;
    margin-right:0em;
    background-color: #4448;
    //border-left: 4px solid #ddd9;
    //border-right: 4px solid #ddd9;
    //min-height: 100vh;


  }
  .content{
    height: auto;
    position: initial;
  top: none;
  bottom: none;
  }

  footer{
    text-align: center;
    border: 1px outset #ddd;
  border-radius: 1.5rem;
    margin: 2rem;
    //background-color: #0005;
  }

  footer ul{
    text-align: center;
    padding: 1rem;
  }

}


@media (max-width: 600px) {

  nav, nav ul, nav ul li {
    display: block;
  }

  .imgSideLeft, .imgSideRight{
    float: none;

    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

h2 { 
    text-align: center;
    margin-left: 0;
    margin-right: 0;


}

.imgSideLeft, .imgSideRight{
    margin-left: auto;
    margin-right: auto;

}

.imgSideLeft img, .imgSideRight img {
  float: none;
  display:block;
  margin: auto;
}

}
