@font-face {
  font-family: "URWGothic";
  src: url("./URWGothic-Demi.otf") format("opentype");
}

@font-face {
  font-family: "URWGothicThin";
  src: url("./URWGothic-Book.otf") format("opentype");
}

@font-face {
  font-family: "Ubuntu";
  src: url("./Ubuntu.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu-Italic";
  src: url("./Ubuntu-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Liberation";
  src: url("./LiberationSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LSBold";
  src: url("./LiberationSans-Bold.ttf") format("truetype");
}

/*      **************************************      */ 
/*      ********* Page-wide Stylings *********      */ 
/*      **************************************      */ 

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.5s;
}

body {
  margin: auto;
  width: 100%;
	font-family: sans-serif;
  //font-size: large;
  background-color: #24021f;
  
  background: url("draft7-unbordered.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment:fixed;
}




// img{
//   margin: 0.5em;
//   //float: left;
// }


h1{
	font-family: "Ubuntu", sans-serif;
  font-weight: normal;
	color: #222;
  font-size: 2rem;
  //margin: 5px;
  //  display: inline-block;
	//text-align: left;
}


h2, h3, h4, h5, h6{
  font-weight: normal;

	font-family: "Ubuntu", sans-serif;
	color: #ddd;
	text-align: left;
  margin: 0px;
}

p{
	font-family: "Ubuntu", sans-serif;
	color: #eee;
	text-align: left;
    font-size: 1.2rem;
  line-height: 1.618;
  margin-left: 2.5rem;
  margin-right: 2.5rem;

}

h2 {
  font-family:  "Ubuntu", sans-serif;
  font-size: 2.058em;
  //margin-left: 4em;
  color: #eee;
  //font-style: italic;
}

h3 {
  font-family:  "URWGothic";
}



/*      **************************************      */ 
/*      *************** Header ***************      */ 
/*      **************************************      */ 


.flex-container{
  display: flex;
}

header {
  //background-color: #290624;
  //border: 2px solid #ddd9;
  //border-radius: 8px;
  //border: 8px solid #311d31; 
  //border-bottom: 2px solid #ddd9; 
  //padding: 8px;
  display: flex;
//  flex: 1;

  padding: 2.618em;
  padding-bottom:2.618em;
  padding-top: 2.618em;
  //margin-top: 0em;
  height: 100vh;
  text-align: left;
  color: white;
  
  //padding-left:50%;
  //padding-top:18%;

}


.title {
  //background: #311d31;
  //border-right: 4px solid #ddd9;
  //padding-top: 0.5em;
  //padding-bottom: 0.75em;
  //margin-left: 2em;
  //text-align: center;
  //margin-right: 2em;
  flex: 1;
  margin: auto;
  //vertical-align: middle;
  // position: absolute;
  // top: 50%;
  // -ms-transform: translateY(-50%);
  // transform: translateY(-50%);
  // //margin: auto;
  //margin-top: 0;
  //height: 100%;

}

.title h1{
  text-align: left;
  font-size: 6em;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  padding-bottom: 1rem;
  word-wrap: break-word;
  //font-weight: bold;
  //background-color: #311d31;
  border-bottom: 4px solid #ddd6;
  //border-right: 4px solid #29002999;
  
  
  display: block;
  margin: 0;
  //line-height: 0.8;
 //vertical-align: middle;
 position:relative;
}

// .title h1:after{
//  content: "Explore the worlds around you";
//  //display: block;
//  font-size: 2rem;
//  width: 100%;
//  height: 1px;
//  background: #ddd;
//  left: 0;
//  top: 100%;
//  margin-right: 4rem;
//  position: absolute;
// }

.title h4{
  text-align: left;
  font-size: 0em;
  color: #ddd;
  margin-top: 0px;
  padding-left: 1em;
  visibility: hidden;
  position: relative;
  font-family:  "Ubuntu";
  display: none;
}

.title .subtitle{
  visibility: visible;
  display:block;
  text-align: left;
  font-size: 2em;
  padding: 0;
  padding-top: 0.618em;
  
}

nav{
  display: flex;

  flex:1;
  text-align: right;
  z-index:1;
  
}

nav ul{
  display: block;
  margin: auto;
  padding: 0;
}

nav ul li{
  display: inline-block;
}



.dropdown{
  width: 12rem;
  text-align: left;
}

.dropdown-content {
  display: block;
  opacity: 0;
  height:0;
  
  position: absolute;
  width: 12rem;
  //background-color: #f9f9f9;
  //min-width: 160px;
  text-align: left;
  //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  //margin-top: 4px;
  z-index: 1;
  
  transition: opacity 0.4s  cubic-bezier(0.19, 1, 0.22, 1);
  
}



.dropdown:hover .dropdown-content {
  
  //width: 100%;
  //border: 2px solid #ddd;
  //border-top: none;
  //border-radius: 0px 0px 8px 8px;
  //padding: 4px;
  opacity: 1;
  height:auto;

  //text-decoration: underline;
  background-color: #ddd2;
  //width: 100%;
}

.dropdown-header{
  font-weight: bold;
  font-size: 1em;
}

.dropdown-content .navlink, .dropdown-content .dropdown-header{
  display: none;
  margin: 4px;
}

.dropdown:hover .dropdown-content .navlink, .dropdown:hover .dropdown-content .dropdown-header{
  display: block;
}



.navlink {
  display:block;
  //width: 100%;
  font-family: "Ubuntu", sans-serif;
  //height:100%;
}
.navlink:link, .navlink:active, .navlink:visited, .navlink:hover{
    text-decoration: none;
    color: #eee;

    padding-top:0.75em;
    padding-bottom:0.75em;
    padding-left: 1.0em;
    padding-right: 1.0em;
    //border-left: 4px solid #0000;

    border: 2px solid #ddd0;
    border-radius: 4px;
    transition:0.4s  cubic-bezier(0.19, 1, 0.22, 1);
}

.navlink:hover{
    color: #fff;
    border: 2px solid #ddd;
    //text-decoration: underline;
    background-color: #ddd2;

    //border-color: #fff;
}






.host-list{
  display: block;
  padding: 0;
  margin: auto;
  text-align: center;
  padding-left: 0.236rem;
  padding-right: 0.236rem;
}
  
.host-list li{
display: inline-block;
text-align: center;
padding: 0;
font-size: 2em;
}

.host-list li .navlink{
  //margin: 0.236rem;

  //padding:0;
  padding-bottom: 1rem;
}

.host-list li img{
display: block;
margin: 0;
//padding:0;
}



/*      **************************************      */ 
/*      ************ Main Content ************      */ 
/*      **************************************      */ 

section {
  display: block;

  //margin-left: 5.5rem;
  //margin-top: 1.5em;
  margin-bottom: 0em;
  //border-top: 2px solid #ddd9;
  background-size: 100% 100%;
  background-position: 50% 50%;
}

h2 {
  margin: 1.618rem;

  margin-left: 4.235rem;
}


.content{
  padding: 2.618em;
  padding-top: 0;
  margin-top: 0;
  //border-bottom: 2px solid #ddd9;
  max-width: 1000px;
  display: block;
  overflow: auto;

}

.side{
  max-width: 1000px;
}

img {
  border-radius: 4px;
}

.imgSideRight{
    display: block;
    float: right;
  margin: 3rem;
  margin-top: 1.2rem;
  margin-left: 5.5rem;
}

.imgSideLeft{
    display: block;
    float: left;
  margin: 3rem;
  margin-top: 1.2rem;

  margin-right: 5.5rem;
}
.imgFigure{
    display: block;
    margin: auto;
  //margin: 1em;
}



.imgFigure .caption, .imgSideRight .caption, .imgSideLeft .caption{
    margin: 0;
    margin-left: 0;
    font-size: 1em;

}



.side dl{
  padding-left: 4.5rem;
  font-size: 1.2em;
  text-align: left;
  margin-top: 1.2rem;
}

dl dt {
  font-weight: bold;
  color: #eee;
  text-decoration: none;
  
  margin-bottom: 0.5rem;

}

dl dd {
  color: #eee;
  text-decoration: none;
  margin-left: 0;
}

.side dl a{
  display: inline-block;
  max-width: 300px;
  vertical-align: text-top;
  min-height: 8em;
  padding-top:0.75em;
  padding-bottom:0.75em;
  padding-left: 1.0em;
  padding-right: 1.0em;
  margin-bottom: 0.5rem;
  //border-left: 4px solid #0000;
  text-align: left;
  border: 2px solid #ddd0;
  border-radius: 4px;
  transition:0.4s  cubic-bezier(0.19, 1, 0.22, 1);
}

.side dl a:hover{
  color: #fff;
  border: 2px solid #ddd;
  //text-decoration: underline;
  background-color: #ddd2;
}

.side dl a,.side dl a:visited,.side dl a:active{
  color: #eee;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  text-decoration: none;
  

}
.side dl a:hover dt{
  color: #fff;
}

.side dl a:hover dd{
  color: #fff;
}

/* Style the footer */

footer {
  //background-color: #250025;
  //padding: 0.5em;
  //margin: 1.5em;
  //border: 4px solid #ddd9;
  //border-top: 2px solid #ddd9;

  //border-radius: 8px;

  //margin-bottom: 1em;
  text-align: center;
  color: white;
}

footer ul{
  list-style-type: none;
  padding:1em;
  text-align: center;
  margin: 0em;

}
footer ul li{
  display: inline-block;
  color: #aaa;
  font-size: 0.75em;
  padding:1em;
  vertical-align: middle;

}

footer ul li a,footer ul li a:visited,footer ul li a:active{
  color: #dddddd;
font-weight: normal;
}
footer ul li a:hover{
  color: #ffffff;
  font-weight: normal;
}

footer ul li button{
  color: #ddd;
  font-size: 1.2em;
  //padding-left:1em;
  border: none;
  border-radius: 0;
  background: none;
  transition:0.08s linear;
}

footer ul li button:hover{
  color: #fff;
  //padding-left:1em;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: underline;
}



/* Style the page for mobile */
@media (max-width: 961px) {

  .flex-container {
display: block;
    height: 100vh;
}

header{
  height: auto;
}

.title{
  position: initial;
  top: 0%;
  -ms-transform: translateY(-0%);
  transform: translateY(-0%);

}

.title h1, .title .subtitle{
  text-align: center;
}

nav ul{
  margin-top: 2em;
}

  article{
    margin: 0em;
    margin-left:0em;
    margin-right:0em;
    //background: none;
  }

}

@media (max-width: 600px) {
  

.imgSideLeft, .imgSideRight{
  float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.imgSideLeft img, .imgSideRight img{
  float: none;
  display:block;
  margin: auto;

}

  header{
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 1.5em;
}

 nav{
    display: block;
    text-align: center;
    margin: auto;
   }

 
  .title h1{
    text-align: center;
    font-size: 4em;
  }

  h2 {
    margin-left: 0;

    text-align: center;
  }

  .host-list{
    display: block;
    margin: auto;
    padding:0;
  }
  .host-list li{
    display: block;
    margin: auto;

  }
}
