@font-face {
  font-family: "URWGothic";
  src: url("./URWGothic-Demi.otf") format("opentype");
}

@font-face {
  font-family: "URWGothicThin";
  src: url("./URWGothic-Book.otf") format("opentype");
}

@font-face {
  font-family: "Ubuntu";
  src: url("./Ubuntu.ttf") format("truetype");
}

@font-face {
  font-family: "Liberation";
  src: url("./LiberationSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LSBold";
  src: url("./LiberationSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Engry";
  src: url("./engry.otf") format("opentype");
}

@font-face {
  font-family: "TimesNewRoman";
  src: url("./Times_New_Roman.ttf") format("truetype");
}
@font-face {
  font-family: "TimesNewRomanIt";
  src: url("./Times_New_Roman_Italic.ttf") format("truetype");
}


/*      **************************************      */ 
/*      ********* Page-wide Stylings *********      */ 
/*      **************************************      */ 

* {
  box-sizing: border-box;
  transition: all 0.5s;
}

body {
  margin: auto;
  width: 100%;
	font-family: "TimesNewRoman", serif;
  font-size: 1.25rem;
  background: #311712;
  //background: linear-gradient(90deg, #bbb, #444 25%, #444 75% #bbb);
	//background: url("./KPF_SoCal_20230924_Mug_Print2.png");
  //background: #222c;
  background-position: 0 0;
  background-repeat: none;
  background-size: cover;
}




img{

  display: inline;
  //float: left;
}


h1{
  font-weight: normal;
	color: #222;
  font-size: 2rem;
  margin: 5px;
  //  display: inline-block;
	//text-align: left;
}


h2, h3, h4, h5, h6{
  font-weight: normal;

	font-family: "TimesNewRoman", serif;
	color: #111;
	text-align: center;
  margin: 0px;
}

p{
	font-family: "TimesNewRoman", serif;
	color: #111;
	text-align: left;
  line-height: 1.3;
    //font-size: 1.1em;
}

h2 {
  font-family:  "Engry", serif;
  font-size: 1.5rem;
  color: #111;
}

h3 {
  font-family:  "Engry", serif;
}



/*      **************************************      */ 
/*      *************** Header ***************      */ 
/*      **************************************      */ 

header {
  background-color: #311d31;
  background-color: #E5CFBC;
  //border: 3px solid #ddd;
  //border-radius: 8px;
  //border: 4px solid #ddd9; 

  //background: radial-gradient(#290624 85%, #ddd9);
  display: block;
  max-width: 60%;
  margin: auto;
  margin-top: 3.0rem;
  padding-top: 3rem;

  //padding-bottom: 1.0rem;
  
  text-align: center;
  color: white;
}


.title {
  //background: #311d31;
  
  //padding-top: 1.5em;
  //padding-bottom: 1.5em;
  margin-left: 3em;

  margin-right: 3em;

}

.title h1{
  text-align: center;
  font-size: 2.5rem;
  color: #111;
  font-family: "Engry", serif;
  //font-weight: bold;
  //background-color: #311d31;
  //border-bottom: 2px solid #ddd6;
  
  padding:0.0rem;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;
  display: block;
}

.title h4{
  text-align: center;
  font-size: 1.2rem;
  color: #111;
  margin-top: 0px;
  padding-left: 0em;
  //visibility: hidden;
  position: relative;
  font-family:  "Engry", serif;
}

.title .subtitle{
  text-align: center;
  font-size: 1.2rem;
  color: #111;
  margin-top: 0px;
  padding-left: 0em;
  //visibility: hidden;
  position: relative;
  font-family:  "TimesNewRomanIt", serif;
}

.navlink {
  display:block;
  width: 100%;
  font-family: "TimesNewRoman", serif;
  //height:100%;
}

nav {
  //border-left: 4px solid #ddd6;
  //border-right: 4px solid #29002999;
  //background-color: #311d31;
  margin:4.5rem;
  border-bottom: 1px solid #111; 

  margin-top: 0.25em; 
  margin-bottom: 0.0em;
  //padding-top: 0.75em; 
  //padding-bottom: 0.75em;
}
nav p{
	color: #111;
	text-align: center;
  font-weight: bold;
  //text-indent: 20px;
  padding: 5px;
  margin: 5px;
}

nav ul{
  text-align: center;
  display: block;
  list-style-type: none;
  width: 100%;
  margin: auto;
  padding-right: 1.5em;
  //border-top: 2px solid #ddd;  
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  position: relative;
  //  position: sticky;
  //  top: 0;
}

// nav ul:after{
//   content: "";
//   //display: block;
//   width: 6rem;
//   height: 4px;
//   background: #ddd;
//   right: 0;
//   top: 50%;
//   margin-right: 4rem;
//   position: absolute; 
// }

nav ul li{
  display: inline-block;
  font-size: 1em;

  //line-height: 2.2;
  margin: 5px;
  margin-left: 0.25em;
  margin-right: 0.25em;
  
}


nav ul .navlink:link, nav ul .navlink:active, nav ul .navlink:visited, nav ul .navlink:hover{
    text-decoration: none;
    color: #111;

    padding-top:1rem;
    padding-bottom:1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 12px;

    //border: 2px solid #ddd0;
    
    transition:0.4s  cubic-bezier(0.19, 1, 0.22, 1);
}

nav ul .navlink:hover{
    color: #22201e;
  //text-decoration: underline;

  background-color: #ffeee3aa;
}


/*      **************************************      */ 
/*      ************ Main Content ************      */ 
/*      **************************************      */ 

section {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin: auto;
  margin-top: 0em;
  margin-bottom: 0em;
  max-width: 60%;
  background-size: 100% 100%;
  background-position: 50% 50%;
}



article {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;         
  -webkit-flex: 3;          
  -ms-flex: 3;              
  flex: 3;       
  
  background-color: #D98324;
  background-color: #E5CFBC ;
  //background: linear-gradient(#290624,#250025);
  
  //border-radius: 8px;

  margin: 0em;
  //margin-left: 1.5em;
  //margin-right: 1.5em;
  //padding-top: 3rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;

  //border-left: 2px solid #ddd9;
  //border-right: 2px solid #ddd9;

}

.content{
  margin: 0em;
  
  border-bottom: 1px solid #111;

  display: block;
  overflow: auto;

}


.imgSideRight{
    display: block;
    float: right;
  margin: 1em;
}

.imgSideLeft{
    display: block;
    float: left;
  margin: 1em;
}
.imgFigure{
    display: block;
    margin: auto;
  margin: 1em;
}

.imgFigure .caption, .imgSideRight .caption, .imgSideLeft .caption{
    margin: 0;
    margin-left: 0;
    font-size: 1em;
    font-family: "TimesNewRomanIt", serif;
    text-indent:0;
}


.content p{
  margin-left:1.5em;
  margin-right: 1.5em;
  text-indent:2em;
}



.side{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;         
  -webkit-flex: 1;          
  -ms-flex: 1;              
  flex: 1;

  margin-top: 0em;
  padding-top: 3rem;
  padding-left: 4.5em;
  padding-right: 4.5em;
  //margin-left: 1em;
  //padding: 0.5em;
  background-color: #E5CFBC;
  //background: linear-gradient(#290624,#250025);

  //border: 3px solid #ddd;
  //border-radius: 8px;

}


.side.left{
  border-bottom: 1px solid #111;
  padding-bottom: 1.5em;

}


.side dl{  
  display: block;
  //margin: 1.5em;
  text-align: left;
  padding: 0.0; 
  //padding-top: 5px;
  //padding-bottom: 5px;
  padding-bottom:1.5em;
  //margin-left: 3rem;  
  //margin-right: 3rem;  
  //max-width: 50%;

  //border-left: 4px solid #ddd6;
  //background-color: #311d31;
  //border-left: 4px solid #ddd6;
  //border-right: 4px solid #29002999;


}

.side h2{
  //font-size: 2em;
  //padding:1rem;
  //margin:1.25em;
  margin-bottom: 0;
}

.side dl a{
  display: block;
  margin:auto;
  //background-color: #311d31;
  //border-left: 4px solid #ddd4;

  //margin-left: 0.25em;
}

.side dl img{
  padding:0px;
  margin-right: 1em;
  display: inline-block;
}

.side dl dt{
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  //border-bottom: 2px solid #ddd9;
  //margin-bottom: 0.25em;
}

.side dl a,.side dl a:visited,.side dl a:active{
  color: #111;
  font-size: 0.9em;
  font-family: "TimesNewRoman", serif;
  font-weight: normal;
  line-height: 1.5;
  display: block;
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  //margin: 0.5em;
  //margin-bottom: 1em;
  //padding-right: 1em;
  text-decoration: none;
  transition:0.4s cubic-bezier(0.19, 1, 0.22, 1);

  //min-height: 9em;

  //border: 2px solid #ddd9;
  border-radius: 12px;
  //border-left: 4px solid #0000;
  //border-right: 4px solid #0000;
 //background-color: #311d31;

}
.side dl a:hover{
  color: #22201e;
  //text-decoration: underline;

  background-color: #ffeee377;
  //background-color: #ffeee399;
}


/* Style the footer */

footer {
  //background-color: #250025;
  //padding: 0.5em;
  margin: 1.5em;
  //margin-top: 0.0em;
  //border: 4px solid #ddd9;
  //border-top: 2px solid #ddd9;

  //border-radius: 8px;

  //margin-bottom: 1em;
  text-align: center;
  color: white;
}

footer ul{
  list-style-type: none;
  padding:1em;
  text-align: center;
  margin: 0em;

}
footer ul li{
  display: inline-block;
  color: #aaa;
  font-size: 0.75em;
  padding:1em;
}

footer ul li a,footer ul li a:visited,footer ul li a:active{
  color: #dddddd;
font-weight: normal;
}
footer ul li a:hover{
  color: #ffffff;
  font-weight: normal;
}


footer ul li button{
  color: #ddd;  
  font-family: "TimesNewRoman", serif;
  font-size: 1.2em;
  //padding-left:1em;
  border: none;
  border-radius: 0;
  background: none;
  transition:0.08s linear;
}

footer ul li button:hover{
  color: #fff;
  //padding-left:1em;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: underline;
}


/* Style the page for mobile */
@media (max-width: 961px) {


  header{
    max-width: 100%;
    margin:0;
  }
  .title h1{
    padding:0;
}
  section{
    max-width: 100%;
  }

  nav ul{
    padding-left:1.5em;
    padding-right: 1.5em;
  }

  nav ul li{
    display: block;
  }
 

  .side .headerImg{
    height: 0px;
  }


  article{
    margin: 0em;
    margin-left:0em;
    margin-right:0em;
    //background: none;
  }

}

@media (max-width: 600px) {
  body{
    font-size: 1.15em;
  }
  nav ul li{
    text-align: center;
  }



    .imgSideLeft, .imgSideRight{
     float: none;
     margin: auto;
     margin-top: 1em;
     margin-bottom: 1em;
 }
 
 .imgSideLeft img, .imgSideRight img {
   float: none;
   display:block;
   margin: auto;
 }


  .title h1{
    text-align: center;
  }
  .title h1:after{
    content: "";
    visibility: hidden;
    width: 0;
    height: 0px;
  }

  .side ul{
    margin-left: 4.5em;  
    margin-right: 4.5em;  

  }
}
