body {
  margin: auto;
	margin-top: 30px;

	font-family: Tahoma, sans-serif;
	background-image: linear-gradient(to right, #222222, #330033, #330033, #222222);
}



img{
	margin: 12px;
}

code{
	background-color: #888888;
	color: #220022;
}

dl{
    color: #dddddd;
    width: auto;
    text-align: left;
}
dt{
    font-weight: bold;
}

h1{
	font-family: Tahoma, sans-serif;
	color: #ffffff;
	text-align: center;
}
h2, h3, h4, h5, h6, ol, ul{
	font-family: Tahoma, sans-serif;
	color: #dddddd;
	text-align: left;
  padding: 10px;
}

p{
	font-family: Tahoma,sans-serif;
	color: #dddddd;
	text-align: left;
  text-indent: 20px;
  padding: 10px;
}

a:link, a:visited, a:active{
	color: #00beef;
  text-decoration: none;
}

a:hover{
	color: #00beef;
  text-decoration: underline;
}

table{
    margin: auto;
    text-align: center;
}

.toplinks{
  width: 100%;
  border-bottom: 1px solid #dddddd;
  text-align: left;
  background: linear-gradient(0deg, rgba(255,255,255,.15),rgba(0,0,0,0)), linear-gradient(to right, #222222, #330033, #330033, #222222);
  //background-image: ;
  position: -webkit-sticky;
  position: sticky;
  //backdrop-filter: blur(2px);
  top: 0;
}

.toplinks ul{
  text-align: center;
}

.toplinks ul li{
  display: inline-table;
  line-height: 2.2;
}

.toplinks ul a:link, .toplinks ul a:active, .toplinks ul a:visited{
    text-decoration: none;
    color: #dddddd;
    font-family: Tahoma,sans-serif;
    padding: 5px 50px;
    border: 1px solid #dddddd;
    transition: 0.02s linear;
    font-weight: bold;
}

.toplinks ul a:hover{
    font-family: Tahoma,sans-serif;
    color: #ffffff;
    background-color: #dddddd33;
    border: 1px solid #ffffff;
    padding: 5px 50px;
}

// button{
//     font-family: Tahoma,sans-serif;
//     color: #dddddd;
//     background-color: #660066;
//     padding: 4px 20px;
//     border: none;
//     border-radius: 2px;
//     transition: 0.05s linear;
// }
//
// button:hover{
//     font-family: Tahoma,sans-serif;
//     color: #dddddd;
//     background-color: #770077;
//     padding: 4px 20px;
//     border: none;
//     border-radius: 2px;
// }

.column {
  width: 100%;
}

.column p, h2, h3, h4, h5, h6 {
  padding-left: 50px;
  padding-right: 50px;
}

.column.left {
  float: left;
  width: 25%;
  //padding: 5%;
  //max-width: 400px;
}

.column.center {
  float: left;
  width: 50%;

  //max-width: 800px;
}

.column.right {
  float: left;
  width: 25%;
  //max-width: 400px;
}

.row {
    width:100%;
    display: table;
}

@media screen and ((max-width: 961px) or (hover: none)){
  .column.left, .column.center, .column.right {
    width: 100%;
  }
  .toplinks ul{
    max-width: 100%;
    width: 100%;
    word-wrap: break-word;
  }

}
