---
---

@import "{{ site.theme }}";

body {
	margin-left: 10%;
	margin-top: 10%;
	margin-right: 10%;
	color: #cccccc;
	font-family: Arial, sans-serif;

	
	background: url("../../../MyFirstPaper.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #111111
}
