---
---

@import "{{ site.theme }}";

body {
	margin-left: 10%;
	margin-top: 10%;
	margin-right: 10%;
	color: #cccccc;
	font-family: Tahoma, sans-serif;

	
	#background: url("../../../MyFirstPaper.png");
	background-image: linear-gradient(to right, #222222, #440044, #440044, #222222);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #111111;
}
img{
	margin: 5px;
	border-radius: 5px;
}

p{
	text-align: justify;
}

h1{
	font-family: Tahoma, sans-serif;
	color: #aaaaaa;
	text-align: center;
}
h2{
	font-family: Tahoma, sans-serif;
	color: #aaaaaa;
	text-align: center;
}
h3{
	font-family: Tahoma, sans-serif;
	color: #aaaaaa;
	text-align: center;
}
h4{
	font-family: Tahoma, sans-serif;
	color: #aaaaaa;
	text-align: center;
}
h5{
	font-family: Tahoma, sans-serif;
	color: #aaaaaa;
	text-align: center;
}
h6{
	font-family: Tahoma, sans-serif;
	color: #aaaaaa;
	text-align: center;
}
