---
---

@import "{{ site.theme }}";

body {
	margin-left: 8%;
	margin-top: 30px;
	margin-right: 8%;
	color: #cccccc;
	font-family: Tahoma, sans-serif;

	
	#background: url("../../../MyFirstPaper.png");
	background-image: linear-gradient(to right, #222222, #330033, #330033, #222222);
	#background-repeat: no-repeat;
	#background-size: 100%;
	#background-color: #111111;
}

img{
	float: left;
	margin: 12px;
}

h1{
	font-family: Tahoma, sans-serif;
	color: #ffffff;
	text-align: left;
}
h2{
	font-family: Tahoma, sans-serif;
	color: #dddddd;
	text-align: center;
}
h3{
	font-family: Tahoma, sans-serif;
	color: #dddddd;
	text-align: center;
}
h4{
	font-family: Tahoma, sans-serif;
	color: #dddddd;
	text-align: center;
}
h5{
	font-family: Tahoma, sans-serif;
	color: #dddddd;
	text-align: center;
}
h6{
	font-family: Tahoma, sans-serif;
	color: #dddddd;
	text-align: center;
}

a{
	color: #00beef;
}
