body {
    margin: auto;
	margin-top: 30px;
    max-width: 800px;

	font-family: serif;

	
	#background: url("../../../MyFirstPaper.png");
	background-image: url("../spacebackgroundweb.png");
	background-repeat: repeat;
	#background-size: 100%;
	#background-color: #222222;
}

img{
	float: left;
	margin: 12px;
    border-style: inset;
    border-color: white;
}

table{
    margin: auto;
    text-align: center;
}

code{
	background-color: #888888;
	color: #220022;
}

h1{
	font-family: serif;
	color: #ffffff;
	text-align: left;
}
h2{
	font-family: serif;
	color: #ffffff;
	text-align: left;
}
h3{
	font-family: serif;
	color: #ffffff;
	text-align: left;
}
h4{
	font-family: serif;
	color: #ffffff;
	text-align: left;
}
h5{
	font-family: serif;
	color: #ffffff;
	text-align: left;
}
h6{
	font-family: serif;
	color: #ffffff;
	text-align: left;
}

p{
	font-family: serif;
	color: #ffffff;
	text-align: left;
}

a{
	color: #00beef;
}

#table a{
    font-family: serif;
    color: #ffffff;
    padding: 4px 20px;
    background-color: #770077;
    border-style: outset;
    border-color: white;
}

#table a:active{
    font-family: serif;
    color: #ffffff;
    background-color: #770077;
    padding: 4px 20px;
    border-style: inset;
    border-color: white;
}

button{
    font-family: Tahoma,sans-serif;
    color: #FFFFFF;
    background-color: #660066;
    padding: 4px 20px;
    border: 1px;
    border-radius: 2px;
    transition: 0.1s linear;
}

button:hover{
    font-family: Tahoma,sans-serif;
    color: #dddddd;
    background-color: #770077;
    padding: 4px 20px;
    border: none;
    border-radius: 2px;
}
